version: "3.8"

services:
  api:
    container_name: mini-ecommerce-api
    build: .
    env_file: .env
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - TZ=Asia/Bangkok

  db:
    image: postgres:16-alpine
    container_name: mini-ecommerce-db
    env_file: .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      PGTZ: Asia/Bangkok
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./scripts:/docker-entrypoint-initdb.d

volumes:
  pg_data:
