version: "3.8"

services:
  app:
    build: .
    env_file: dev.env

  db:
    image: postgres:16-alpine
    container_name: mini-ecommerce
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
